<html>
        <header>
          <title>Trabalho prático IDW grupo 6</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <style>
            #app{
              width: 900px;
            }
            body{
              background-image: url(https://picsum.photos/1600/1200?grayscale);
              
            }
          </style>
        </header> 
          <body>
            <div >
            
            
              

              <div id="app">
               
                <div class="panel panel-primary col-md-8 col-md-offset-6">
                  <div class="panel-heading">
                    <h3 class="panel-title">IDW ATIVIDADE PRÁTICA - GRUPO 6</h3>
                  </div>
                  <div class="panel-body">
                     
                      <h2>Integrantes do Grupo</h2>
                   </br>
                      {{ integrants }}
                    </br>
                      <h2>Dificuldades</h2>
                    <p>
                      •	Experiência do grupo: os integrantes tiveram dificuldades de entregar o resultado por falta de experiência no tema, 
                      optamos por reproduzir do zero oque foi ministrado nas aulas e implementar algo a mais em cima do template das aulas.
      
                    </p>
                  </div>
                </div>
              </div>

          </div>

            
         <script type="text/javascript" src="app.js"></script> 
        </body>
        </html>
        
        
        
